/* img{
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
}

.CategoryListAnchor{
    text-decoration: none;
    color: black;
} */

.title:hover {
    font-style: bold;
    color: rgb(81, 81, 179);
  }
